body{
    background: #fff;
    font-family: 'Nunito', sans-serif;
}

.top_header{
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 25px;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #2f3640;
}

.logo{
    height: 25px;
    padding-left: 10px;
    top: 50%;
}

.upload_button > input{
    display: none;
}

.upload_button label{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    padding-right: 70px;
    color: #2f3640;
    right: 0%;
}

.upload_button label:hover{
    color: #3e444d;
}

.profilebtn{
    color: #2f3640;
    position: absolute;
    right: 0%;
    padding-right: 20px;
    font-size: 30px;
}

.profilebtn:hover{
    color: #3e444d;
}

.searchbar{
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 25px;
    border-radius: 40px;
    padding: 10px;
    float: none;
    position: absolute;
    top: 49%;
    left: 49%;
}

.searchbtn{
    color: #fff;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.searchtxt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 25px;
    width: 0px;
    font-weight: bold;
}

.searchbar:hover > .searchtxt{
    width: 150px;
    padding: 0 6px;
}

.searchbtn > i {
    font-size: 30px;
}

.sub_header{
    width: 30%;
    border-bottom: 2px solid #2f3640;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub_header a{
    text-decoration: none;
    color: #2f3640;
    font-size: 20px;
    padding-right: 35px;
    padding-left: 35px;
    margin: 0 auto;
}

.sub_header a:hover{
    color: #3e444d;
    text-decoration: underline;
}

.uploadbox{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadinfo{
    padding: 40px;
    text-align: center;
    color: #fff;
    background-color: #2f3640;
    flex-basis: 400px;
    flex-shrink: 1;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
}

.uploadform{
    padding: 40px;
    text-align: center;
    color: #2f3640;
    flex-basis: 400px;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    box-shadow: 0 0 3px #3e444d;
}

#welcomeText{
    color: #2f3640;
}

#login{
    margin: auto;
    text-align: center;
}

#gbutton{
    font-size: 20px;
    margin: 30px;
    background-color: #fff;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #2f3640;
}

#gbutton:hover{
    text-decoration: underline;
    color: #3e444d;
    cursor: pointer;
}

#logout{
    margin: auto;
    text-align: center;
}

#logoutbtn{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
    background-color: #fff;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #2f3640;
}

#logoutbtn:hover{
    text-decoration: underline;
    color: #3e444d;
    cursor: pointer;
}

#welcomeText{
    font-size: 25px;
    font-weight: bold;
}

#userbox{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#userboxtext{
    height: 400px;
    padding: 40px;
    text-align: center;
    color: #fff;
    background-color: #2f3640;
    flex-basis: 400px;
    flex-shrink: 1;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
}

#userboxpicture{
    height: 250px;
    padding: 40px;
    text-align: center;
    color: #2f3640;
    flex-basis: 400px;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    overflow: hidden;
    box-shadow: 0 0 3px #3e444d;
}

#profilepicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;

}

#googlelogo{
    width: 100px;
    margin: 0 auto;
    padding: 40px;
}

#googlecontainer{
    align-items: center;
    justify-content: center;
    text-align: center;
}

#googleinfo{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    max-width: 600px;
}

#googletext{
    padding: 40px;
}

.upload-group i > input{
    display: none;
}

.upload-group{
    font-size: 30px;
    cursor: pointer;
    bottom: 0;
    flex-basis: 160px;
}

.choosefile{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropbtn {
    background-color: #2f3640;
    color: #fff;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    flex-basis: 70px;
    flex-shrink: 1;
    flex-basis: 160px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: #2f3640;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e444d;
}

#submitfile{
    flex-basis: 160px;
    flex-shrink: 1;
    font-size: 20px;
    background-color: #fff;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #2f3640;
    left: 80%;
    bottom: 10%;
}

#submitfile:hover{
    text-decoration: underline;
    color: #3e444d;
    cursor: pointer;
}

#biography{
    border-top: #fff solid 2px;
    border-right: #fff solid 2px;
    border-left: #fff solid 2px;
    border-bottom: #fff solid 2px;
    padding: 5px;
}

.example_e {
    border: none;
    background: #2f3640;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.example_e:hover {
    color: #3e444d !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}