body{
    background: #fff;
    font-family: 'Nunito', sans-serif;
}

.top_header{
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 25px;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #2f3640;
}

.logo{
    height: 25px;
    padding-left: 10px;
    top: 50%;
}

.upload_button > input{
    display: none;
}

.upload_button label{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    padding-right: 70px;
    color: #2f3640;
    right: 0%;
}

.upload_button label:hover{
    color: #3e444d;
}

.profilebtn{
    color: #2f3640;
    position: absolute;
    right: 0%;
    padding-right: 20px;
    font-size: 30px;
}

.profilebtn:hover{
    color: #3e444d;
}

.searchbar{
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 25px;
    border-radius: 40px;
    padding: 10px;
    float: none;
    position: absolute;
    top: 49%;
    left: 49%;
}

.searchbtn{
    color: #fff;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.searchtxt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 25px;
    width: 0px;
    font-weight: bold;
}

.searchbar:hover > .searchtxt{
    width: 150px;
    padding: 0 6px;
}

.searchbtn > i {
    font-size: 30px;
}

.sub_header{
    width: 30%;
    border-bottom: 2px solid #2f3640;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub_header a{
    text-decoration: none;
    color: #2f3640;
    font-size: 20px;
    padding-right: 35px;
    padding-left: 35px;
    margin: 0 auto;
}

.sub_header a:hover{
    color: #3e444d;
    text-decoration: underline;
}

.uploadbox{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.uploadinfo{
    padding: 40px;
    text-align: center;
    color: #fff;
    background-color: #2f3640;
    flex-basis: 400px;
    flex-shrink: 1;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
}

.uploadform{
    padding: 40px;
    text-align: center;
    color: #2f3640;
    flex-basis: 400px;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    box-shadow: 0 0 3px #3e444d;
}

#welcomeText{
    color: #2f3640;
}

#login{
    margin: auto;
    text-align: center;
}

#gbutton{
    font-size: 20px;
    margin: 30px;
    background-color: #fff;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #2f3640;
}

#gbutton:hover{
    text-decoration: underline;
    color: #3e444d;
    cursor: pointer;
}

#logout{
    margin: auto;
    text-align: center;
}

#logoutbtn{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
    background-color: #fff;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #2f3640;
}

#logoutbtn:hover{
    text-decoration: underline;
    color: #3e444d;
    cursor: pointer;
}

#userbox{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}

#userboxtext{
    height: 400px;
    padding: 40px;
    text-align: center;
    color: #fff;
    background-color: #2f3640;
    flex-basis: 450px;
    flex-shrink: 1;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
}

#userboxpicture{
    height: 300px;
    padding: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #2f3640;
    flex-basis: 450px;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    overflow: hidden;
    box-shadow: 0 0 3px #3e444d;
    display: flex;
    flex-direction: column;
}

#profilepicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    margin-top: 40px;
    border-radius: 50%;

}

#googlelogo{
    width: 100px;
    margin: 0 auto;
    padding: 40px;
}

#googlecontainer{
    align-items: center;
    justify-content: center;
    text-align: center;
}

#googleinfo{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    max-width: 600px;
}

#googletext{
    padding: 40px;
}

.upload-group i > input{
    display: none;
}

.upload-group{
    font-size: 30px;
    cursor: pointer;
    bottom: 0;
    flex-basis: 160px;
}

.choosefile{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropbtn {
    background-color: #2f3640;
    color: #fff;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    flex-basis: 70px;
    flex-shrink: 1;
    flex-basis: 160px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: #2f3640;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e444d;
}

#submitfile{
    flex-basis: 160px;
    flex-shrink: 1;
    font-size: 20px;
    background-color: #fff;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #2f3640;
    left: 80%;
    bottom: 10%;
}

#submitfile:hover{
    text-decoration: underline;
    color: #3e444d;
    cursor: pointer;
}

#biography{
    border-top: #fff solid 2px;
    border-right: #fff solid 2px;
    border-left: #fff solid 2px;
    border-bottom: #fff solid 2px;
    padding: 5px;
}

.example_e {
    border: none;
    background: #2f3640;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin: 20px;
    text-decoration: none;
    width: 250px;
}

.example_e:hover {
    color: #3e444d !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.backbutton{
    font-size: 20px;
    padding: 20px;
    background-color: #fff;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #2f3640;
    text-decoration: none;
    margin: 0;
    position: absolute;
    padding-left: 30px;
}

.backbutton:hover{
    text-decoration: underline;
    color: #3e444d;
    cursor: pointer;
}

.settingheader{
    height: 70px;
}

#settingsbox{
    height: 150px;
    width: 60%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
    color: #2f3640;
    flex-basis: 400px;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    overflow: hidden;
    box-shadow: 0 0 3px #3e444d;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

#bioinput{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    height: 30px;
}

#nameinput{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    height: 30px;
}

#savebutton{
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background-color: rgb(48, 132, 228);
    padding: 13px;
    border-radius: 7px;
    box-shadow: 0 0 3px #3e444d;
    transition: 0.2s;
}

#savebutton:hover{
    padding: 16px;
    cursor: pointer;
}

#savechanges{
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.indexmain{
    display: grid;
    grid-template-columns: repeat (1, 1fr);
    grid-gap: 40px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.tagmain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 40px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.indexmain > article > .photocontainer > img{
    width: 90%;
    max-height: 1000px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    border-top: #2f3640 solid 2px;
    overflow: hidden;
    box-shadow: 0 0 3px #3e444d;
    margin: 3%;
}

.tagmain > .articlecontainer > article > .photocontainer > img{
    width: 90%;
    max-height: 700px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    border-top: #2f3640 solid 2px;
    overflow: hidden;
    box-shadow: 0 0 3px #3e444d;
    margin: 3%;
}

.photocontainer{
    text-align: center;
}

.pcategory{
    color: #2f3640;
    margin: 10px;
    font-style: italic;
}

.pcategory:hover{
    color: #3e444d;
    cursor: pointer;
    text-decoration: underline;
}

.postarticle{
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    overflow: hidden;
    box-shadow: 0 0 3px #3e444d;
    max-width: 550px;
}

.tagpostarticle{
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    overflow: hidden;
    box-shadow: 0 0 3px #3e444d;
}

.timestamp{
    color: #727477;
    font-size: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-left: 10px;
}

.hashtagtitle{
    color: #727477;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

@media (max-width: 600px) {
        
    .uploadbox{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .uploadform{
        flex-basis: 100px;
    }

    .uploadinfo{
        flex-basis: 100px;
    }

    #userbox{
        flex-direction: column;
    }

}

@media (max-width: 1000px) {
        
    .tagmain{
        grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }

}

#deletephoto{
    color: #727477;
    text-align: right;
    margin-right: 20px;
}

@media (max-width: 500px) {
        
    .tagmain{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    }

    #userboxpicture{
        padding: 5px;
    }

}

#deletephoto{
    color: #727477;
    text-align: right;
    margin-right: 20px;
}

#deletephoto:hover{
    text-decoration: underline;
    cursor: pointer;
}

.uploaduserinfo{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: #2f3640 solid 2px;
}

.uploaduserinfo:hover{
    background-color: #f3f3f3;
    cursor: pointer;
}

.uploaduser > .uploaduserinfo > img {
    width: 40px;
    height: 40px;
    margin-top: 40px;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 10px;
}

.uploaduser{
    border-bottom: #2f3640 solid 2px;
    font-size: 20px;
    background-color: #ebecec;
}

.uploaduserinfo > p {
    margin: 0;
    text-align: center;
    padding: 0;
    line-height: 40px;
    padding-left: 10px;
}

#captioninput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#captioninput:focus {
    border: 3px solid #555;
}

.uploadform > p {
    margin: 0;
}

.captiontext{
    padding: 10px;
    margin: 0;
}

.accountDisplay{
    text-align: center;
    width: 300px;
    border-top: #2f3640 solid 2px;
    border-right: #2f3640 solid 2px;
    border-left: #2f3640 solid 2px;
    border-bottom: #2f3640 solid 2px;
    margin: 0 auto;
    box-shadow: 0 0 3px #3e444d;

}

#accountPhoto{
    border-radius: 200px;
    width: 200px;
    margin-top: 20px;
    transition: 0.4s;
}